.tab-container {
  width: 100%;
}

.classReportNumbers {
  border: solid 1px #000;
  font-weight: bold;
  width: 100%;
  padding: 10px;
}

.classReportPayments {
  width: 100%;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.paymentHeader {
  background-color: #00659C;
  color: #ffffff;
  padding-left: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.ClassReportFiles {
  text-align: left;
  padding: 10px;
  font-weight: bold;
}

.ClassReportFiles .fa {
  font-size: 35px;
  padding-right: 20px;
}

.divFile {
  display: flex;
}

a.deleteLink {
  color: red;
  font-weight: bold;
  padding-left: 10px;
  cursor: pointer;
}

a.classReportFileLink {
  display: inline-block;
  margin: 10px 16px;
}

.upload {
  padding-left: 10px;
}

.divFileSelect {
  width: calc( 100% - 55px );
}

.divFileSelect .custom-file-control {
  /*max-width: calc( 100% - 55px );*/
  padding: 0.5rem 0.5rem;
  font-size: 0.9rem;
}

.signInSheet-file-control:lang(en)::after {
  content: "Sign-in Sheets";
}

.parentHelper-file-control:lang(en)::after {
  content: "Parent Helper";
}

.classReportSheet-file-control:lang(en)::after {
  content: "Class Report Sheet";
}

.orderEnvelopes-file-control:lang(en)::after {
  content: "Order Envelopes";
}

.depositReceipt-file-control:lang(en)::after {
  content: "Deposit Receipt";
}

.others-file-control:lang(en)::after {
  content: "Other";
}

.raffleNumbers {
  border: solid 1px #000;
  font-weight: bold;
  width: 100%;
  padding: 10px;
}

.raffleHeader {
  background-color: #00659C;
  color: #ffffff;
  padding-left: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.txtRaffle {
  width: 45px;
  display: inline;
}

.resultBody {
    font-weight: bold;
    text-transform: uppercase;
}

.resultProcessing {
  color: darkkhaki;
}

.resultSuccess {
    color: green;
}

.resultFail {
    color: red;
}
