#class-week-header {
    height: 50px;
    background-color: #BFBFBF;
}

.class-week-left-arrow, .class-week-right-arrow {
    font-size: 35px;
    font-weight: 100;
    padding: 6px;
    position:absolute;
}

.class-week-left-arrow {
  left:0px;
}

.class-week-right-arrow {
  right:0px;
}
  
a.week-header-link {
    color: #000000;
}

.week-header-link-disabled {
  color: #E1E1E1 !important;
}

#class-week-header-content {
    text-align: center;
    width:100%;
}