#class-week-header {
    height: 50px;
    background-color: #BFBFBF;
}

.class-week-left-arrow, .class-week-right-arrow {
    font-size: 35px;
    font-weight: 100;
    padding: 6px;
}

a.week-header-link {
    color: #000000;
}

#class-week-header-content {
    text-align: center;
}