.modal-body > div.divCheckInRow:nth-of-type(odd) {
  background-color: #AAD4FF;
}

.txtCheckIn {
  width: 45px;
  display: inline;
}

.chkCheckIn, .chkTest {
  width: 20px;
  display: inline;
}

.rdoCheckIn {
  width: 20px;
  display: inline;
}

.ddlSpecielFee {
  width: 60px;
  display: inline;
}

.divCheckInRow {
  border: dashed 1px #E7EBF7;
}

.divCheckInRowPayment {
  border: dashed 1px #E7EBF7;
  background-color: #8DC98D;
}

.divCheckInRowPaymentBreakDown {
  border: dashed 1px #E7EBF7;
  background-color: #D4FFAA;
}

.divCheckInRowLeft {
  display: inline-block;
  text-align: left;
  width: 65%;
}

.divCheckInRowRight {
  display: inline-block;
  text-align: right;
  width: 32%;
}

input[type='checkbox'], input[type='radio'] {
  transform: scale(1.8);
  margin-top: 7px;
}
