<div>
  <div class="row" id="class-number-header">
    <a class="class-header-link" [attr.href]="selectedClassNumber == 1 ? null : '/roster'"
       (click)="prevClass()" [class.class-header-link-disabled]="selectedClassNumber == 1">
      <i class="fa fa-chevron-left class-number-left-arrow" aria-hidden="true"></i>
    </a>
    <div id="class-number-header-content">
      {{getClassTeamName()}}
    </div>
    <a class="class-header-link" [attr.href]="selectedClassNumber == studentListByClassNumber.length - 1 ? null : '/roster'"
       (click)="nextClass()" [class.class-header-link-disabled]="selectedClassNumber == studentListByClassNumber.length - 1">
      <i class="fa fa-chevron-right class-number-right-arrow" aria-hidden="true"></i>
    </a>
  </div>
  <div class="row roster-list">
    <div *ngFor="let student of selectedWeekStudentList" class="roster-student" [ngClass]="student.Prepaid ? 'roster-student-prepaid' : ''">
      <div class="roster-student-name">
        <div class="btn-group" dropdown>
          <span dropdownToggle class="student-search-toggle pointer">
            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
          </span>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem" class="roster-student-sub">
              <i class="fa fa-user" aria-hidden="true"></i>
              {{student.StudentID}} - {{student.LastName}}, {{student.FirstName}}
              <div class="roster-student-phone">
                hm: {{student.HomePhone}} <br />
                cel: {{student.CellPhone}}
              </div>
            </li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem">
              <a class="dropdown-item" href="#" [routerLink]="['/studentProfile', student.StudentID, 0]">View / Edit Student Info</a>
            </li>
            <!--<li role="menuitem">
              <a class="dropdown-item" href="#" (click)="addToSpecialtyRoster($event, 'visiting')">Add to Specialty Roster</a>
            </li>-->
            <li role="menuitem">
              <a class="dropdown-item" href="#" (click)="openStudentEmail($event, modalStudentEmail, student)" [class.disabled]="student.PEmail===''">Email</a>
            </li>
          </ul>
        </div>
        <span class="spanStudStat">{{(student.Status == 5) ? "(E)" : ((student.Status == 2) ? "(A)" : "(R)")}}</span> {{student.LastName}}, {{student.FirstName}} {{(student.Scholarship) ? "(S)" : ((student.ParentHelper) ? "(PH)" : "")}}
      </div>
      <div class="roster-student-button-div">
        <div class="btn-group roster-student-button" dropdown placement="bottom right">
          <!--<button type="button" class="btn btn-danger" [routerLink]="['/studentCheckIn', student.StudentID]">Check-in</button>-->
          <!--[disabled]="(student.PayType != 'n/a' && student.PayType != '')"-->
          <button type="button"
                  [ngClass]="(student.PayType == 'n/a' || student.PayType == '') ? 'btn-danger' : 'btn-success btnCheckInDisabled'"
                  class="btn btnCheckIn"
                  (click)="openCheckIn(modalStudentCheckIn, student)">
            {{(student.PayType == 'n/a' || student.PayType == '') ? 'Check-in' : student.PayType}}
          </button>
          <button type="button" dropdownToggle
                  [ngClass]="(student.PayType == 'n/a' || student.PayType == '') ? 'btn-danger' : 'btn-success'"
                  class="btn dropdown-toggle dropdown-toggle-split">
            <span class="caret"></span>
            <span class="sr-only">Split button!</span>
          </button>
          <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
            <!--<li role="menuitem"><a class="dropdown-item" href="#">Check-in</a></li>
            <li role="menuitem">
              <a class="dropdown-item" href="#">Drop Request</a>
            </li>-->
            <li role="menuitem" *ngIf="(student.PayType != '' && student.PayType != 'n/a') || student.Prepaid">
              <a class="dropdown-item" href="#">
                Order Merchandise
              </a>
            </li>
            <li role="menuitem" *ngIf="student.PayType == 'n/a' || student.PayType == ''">
              <a class="dropdown-item" (click)="setStudentAB(student.StudentID)">
                Absent
              </a>
            </li>
            <li role="menuitem" *ngIf="student.PayType == 'n/a' || student.PayType == ''">
              <a class="dropdown-item" (click)="setStudentNP(student.StudentID)">
                Not Paid
              </a>
            </li>
            <li class="divider dropdown-divider" *ngIf="student.PayType == 'n/a' || student.PayType == ''"></li>
            <li role="menuitem">
              <a class="dropdown-item" *ngIf="student.PayType == 'n/a' || student.PayType == ''" (click)="dropStudent(modalDropRequest, student)">Drop Request</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <ng-template #modalStudentCheckIn>
    <student-check-in [isRegister]="false"
                      [studentRoster]="selectedStudentRoster"
                      [modalRef]="modalRef"
                      (refreshRoster)="refreshRoster($event)">
    </student-check-in>
  </ng-template>


  <ng-template #modalStudentEmail>
    <student-email [student]="selectedEmailStudent"
                 [modalRef]="modalRef">
    </student-email>
  </ng-template>

  <ng-template #modalDropRequest>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Drop Request for {{dropRequestStudent.FirstName}} {{dropRequestStudent.LastName}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="text-align: center;">
      Reason:
      <input type="text" [(ngModel)]="txtDropReason" class="form-control form-control-sm" />
      <button type="button" class="btn btn-primary" (click)="requestDrop()">Request Drop</button>
    </div>

  </ng-template>

</div>
