<!--The whole content below can be removed with the new code.-->
<class-dropdown></class-dropdown>
<div class="row">
  <div class="col-xs-3 divMainButton">
    <a routerLink="/classes" routerLinkActive="active">Classes</a>
  </div>
  <div class="col-xs-3 divMainButton">
    <a routerLink="/roster" routerLinkActive="active">Roster</a>
  </div>
  <div class="col-xs-3 divMainButton">
    <a routerLink="/report" routerLinkActive="active">Report</a>
  </div>
  <div class="col-xs-3 divMainButton">
    <a routerLink="/order" routerLinkActive="active">Order</a>
  </div>
</div>

<router-outlet></router-outlet>

<!--<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  
</div>-->


