<div [hidden]="studentLookupActive">
  <div class="class-dropdown-menu">
    <div class="btn-group" dropdown>
      <span dropdownToggle class="student-search-toggle pointer">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </span>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem">
          <a class="dropdown-item" href="#" (click)="selectStudentSearch($event, 'new')">Add New Student</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" href="#" (click)="selectStudentSearch($event, 'visiting')">Add Visiting Student</a>
        </li>
        <li role="menuitem">
          <a class="dropdown-item" href="#" (click)="selectStudentSearch($event, 'transfer')">Add Transfer Student</a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li role="menuitem">
          <a class="dropdown-item" href="#">CONTACT US</a>
        </li>
      </ul>
    </div>
    <class-dropdown class="student-search-dropdown"></class-dropdown>
  </div>
  <div class="row">
    <div class="col-3 divMainButton">
      <a routerLink="/classes" routerLinkActive="active">Classes</a>
    </div>
    <div class="col-3 divMainButton">
      <a routerLink="/roster" routerLinkActive="active">Roster</a>
    </div>
    <div class="col-3 divMainButton">
      <a routerLink="/report" routerLinkActive="active">Report</a>
    </div>
    <div class="col-3 divMainButton">
      <a routerLink="/order" routerLinkActive="active">Order</a>
    </div>
  </div>
  <class-week-header></class-week-header>

</div>

<router-outlet></router-outlet>