.divMainButton
{
  text-align: center;
  border: solid 1px #000000;
  padding: 0px;
}

.divMainButton a
{
  display: block;
  width: 100%;
  padding: 25px 0px 25px 0px;
  text-decoration:none;
}

.divMainButton a:hover, .divMainButton a.active
{
  color: #ffffff;
  background-color: #002060;
}

.student-search-toggle,
.student-search-dropdown {
  margin: 0 5px;
}

.student-search-dropdown {
  flex: 2 1 auto;
}

.class-dropdown-menu {
  padding: 5px;
  background-color: #00B0F0;
  display: flex; 
  align-items: center;
}