

BODY {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif; 
	margin:0; 
	color: #000000;
	background-color: #ffffff;
	padding-top: 50px;
}

div#commDiv
{
	margin: 0px 20px 0px 20px;
	display: none;
}


A {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	color : #337AB7;
	font-weight: bold;
	text-decoration : None;
}
A:visited {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	color : #337AB7;
	text-decoration : None;
}
A:active {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	color : #337AB7;
	text-decoration : None;
}
A:hover {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	color : #337AB7;
	cursor : Hand;
	text-decoration : None;
}