<student-search-header></student-search-header>

<div class="container">
  <h4> Student Look Up</h4>
  <form #studentSearchForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-inline">
      <label for="student-search-firstName" class="control-label">
        First Name: &nbsp;
        <input type="text" class="form-control" id="student-search-firstName" name="firstName" [(ngModel)]="firstName" />
      </label>
    </div>
    <br />
    <div class="form-inline">
      <label for="student-search-lastName">
        Last Name: &nbsp;
        <input type="text" class="form-control" id="student-search-lastName" name="lastName" [(ngModel)]="lastName" />
      </label>
    </div>
    <br />
    <div class="form-inline">
      <label for="student-search-aCode">
        Home Phone: &nbsp;
        <span>
          (
          <input type="tel" class="form-control phone-input" id="student-search-aCode" name="aCode" maxlength="3" [(ngModel)]="aCode"/>
          )
          <input type="tel" class="form-control phone-input" id="student-search-fCode" name="fCode" maxlength="3" [(ngModel)]="fCode"/>
          -
          <input type="tel" class="form-control phone-input" id="student-search-sCode" name="sCode" maxlength="4" [(ngModel)]="sCode"/>
        </span>

      </label>
    </div>
    <button type="submit" class="btn btn-success">Look Up</button>
  </form>
</div>
