<div style="text-align:center; padding-top: 100px;">Classes</div>
<div>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown trigger
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dLabel">
      <li>test1</li>
      <li>test2</li>
    </ul>
  </div>
  <div>Class ID: {{classService.SelectedClass?.id}}</div>
  <div>Class: {{classService.SelectedClass?.name}}</div>
</div>