<div style="text-align:center;">Classes</div>
<div>
 
  <!--<div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Button dropdown <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem">
        <a class="dropdown-item" href="#">Separated link</a>
      </li>
    </ul>
  </div>

  <div>Class ID: {{classService.SelectedClass?.ID}}</div>
  <div>Class: {{classService.SelectedClass?.Name}}</div>
  <div>Environment: {{configTest}}</div>-->
  <img src="assets/img/ReportSample.jpg" style="margin-left: auto; margin-right: auto; display: block; max-width: 100vw;" />
</div>
